<%- include("header") -%>
    <div class="box" id="heading"> 
      <h1 style="color:rgb(119, 0, 119)" ><%= listTitle %></h1>
     </div>
  <div class="box">
    <% for(var i=0;i<newListItems.length;i++) { %>
<div class="item">
    <input type="checkbox">
<p class=""><%= newListItems[i].name%></p>
</div>
<% } %>
<form class="item" acton="/" method="post">
    <input type="text" name="work"  id="inputone"  placeholder="Add Task" autocomplete="off">
    <button type="submit" name="addbtn" value=<%=listTitle%>>+</button>
    </form>
  </div>
  
  <%- include("footer") -%> 
  
